// font families
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
$font: "Space Grotesk", sans-serif;

// font size
$h1-size: 60px;
$h1-height: 80px;

$h2-size: 40px;
$h2-height: 40px;

$h5-size: 25px;