.crypto-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  h4 {
    color: grey;
    &:first-child {
      width: 18%;
    }
  }
}

.crypto-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242424;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  p {
    text-align: center;
    font-size: 18px;
  }
}

.crypto-name {
  display: flex;
  align-items: center;
  width: 20%;
  img {
    width: 20px;
    margin-right: 5px;
    margin-right: 10px;
  }
}
